<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="container index">
        <p>
            In this this game, you play against the computer!
            I am working on multiplayer version, it is coming soon!

        </p> 

        <br>
        <br>

        <p style="color:yellow">
            To start playing, login or create your own account. Enjoy the game!
        </p><br> <br>
        <img src="images/home.png" alt="">
        <h1>ROCK-SCISSORS-PAPER</h1>
        <a href="/login" class="btn btn-primary">Login</a> <br>
        <a href="/register" class="btn btn-danger">Register</a>
    </div>
    
</body>
</html>